[defaults]
inventory = inventory.yml
host_key_checking = false
timeout = 30


[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR
pipelining = true
